In [166]:
print("Assignment 3")

Assignment 3

In [4]:
#Problem 1: Lists, Sets and Coersion

#1.a Create a list of integers no fewer than 10 items from 0 to 9.
# .b Add 3 to the 5th indexed element
# .c Coerce all elements in the list to floats using list comprehension
# .d Coerce the list to a set
# .e Using a method, append int 10 to the set
# .f Using a method, pop an item from the set
# .g Using a length counting function, count the number of items in the set
# .h Check if the number of items in the set is the same as the 
#    number of items in the list
# .i Coerce the set to a list and use the "+" operator combine the list to the list from 1.a
# .j Coerce 1.i to a set
# .k Count the number of elements in the 1.j"""

In [1]:
#1.a Create a list of integers no fewer than 10 items from 0 to 9.
one_a = [0,1,2,3,4,5,6,7,8,9]
print(one_a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
#.b Add 3 to the 5th indexed element
one_b = list(one_a)
one_b.insert(4,3)
print(one_b)

[0, 1, 2, 3, 3, 4, 5, 6, 7, 8, 9]

In [4]:
# .c Coerce all elements in the list to floats using list comprehension
one_c = [float(i) for i in one_b]
print(one_c)

[0.0, 1.0, 2.0, 3.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

In [5]:
#.d Coerce the list to a set
one_d = set(one_c)
print(one_d) #sets do not allow duplicate values

{0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0}

In [6]:
#.e Using a method, append int 10 to the set
one_e = set(one_d)
one_e.add(10)
print(one_e)

{0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10}

In [7]:
# .f Using a method, pop an item from the set
one_f = set(one_e)
one_f.remove(1)
print(one_f)

{0.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10}

In [8]:
# .g Using a length counting function, count the number of items in the set
one_g = len((one_f))
print(one_g)

10

In [10]:
# .h Check if the number of items in the set is the same as the number of items in the list
one_h = len((one_a))
print (one_h) 
print ("the set has the same number of items as the original list")

10
the set has the same number of items as the original list

In [11]:
#.i Coerce the set to a list and use the "+" operator combine the list to the list from 1.a
one_i = list(one_f) + one_a
print(one_i)

[0.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
#.j Coerce 1.i to a set
one_j = set(one_i)
print(one_j)

{0.0, 1, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10}

In [13]:
# .k Count the number of elements in the 1.j
one_k = len(one_j)
print(one_k)

11

In [14]:
"""
Problem 2: Dictionary woes
2.a Combine the three sample dictionaries (given below) into a nested dictionary (nested in programming means joined), named 
    two_a, ensure the key names are the same as the dictionary names.
 .b Using keys, retrieve the Dango's name from 2.a
 .c Using keys, update the value of Mochi's year to 2018. This should not be a variable
    and should simply update 2.a.
 .d Manually create a dictionary that has a single level and contains each patient
    as the key and the year as the value. Set Mochi's year to 2019.'
 .e Coerce the keys of 2.d into a list
 .f Coerce the values of 2.d into a list
 .g Use the zip function to combine 2.e and 2.f into a dictionary again
"""

#run this first*******
two_patient_dictionary_kinoko = {
  "name" : "Kinoko",
  "year" : 2021
}
two_patient_dictionary_dango = {
  "name" : "Dango",
  "year" : 2019
}
two_patient_dictionary_mochi  = {
  "name" : "Mochi",
  "year" : 2020
}

In [15]:
#2.a Combine the three sample dictionaries (given below) into a nested dictionary (nested in programming means joined), named 
#two_a, ensure the key names are the same as the dictionary names.

two_a = {'two_patient_dictionary_kinoko':{'name':'Kinoko', 'year':'2021'},
         'two_patient_dictionary_dango':{'name':"Dango", 'year':'2019'},
         'two_patient_dictionary_mochi':{'name':"Mochi", 'year':'2020'} }
print(two_a)

{'two_patient_dictionary_kinoko': {'name': 'Kinoko', 'year': '2021'}, 'two_patient_dictionary_dango': {'name': 'Dango', 'year': '2019'}, 'two_patient_dictionary_mochi': {'name': 'Mochi', 'year': '2020'}}

In [16]:
# .b Using keys, retrieve the Dango's name from 2.a
two_b = two_a['two_patient_dictionary_dango']['name']
print(two_b)

Dango

In [17]:
#.c Using keys, update the value of Mochi's year to 2018. This should not be a variable
#    and should simply update 2.a.
two_a['two_patient_dictionary_mochi']['year'] = '2018' 
print(two_a)

{'two_patient_dictionary_kinoko': {'name': 'Kinoko', 'year': '2021'}, 'two_patient_dictionary_dango': {'name': 'Dango', 'year': '2019'}, 'two_patient_dictionary_mochi': {'name': 'Mochi', 'year': '2018'}}

In [18]:
# .d Manually create a dictionary that has a single level and contains each patient
#    as the key and the year as the value. Set Mochi's year to 2019.'
two_d = {'Kinoko':'2021', 'Dango':'2019', 'Mochi':'2019'}
print(two_d)

{'Kinoko': '2021', 'Dango': '2019', 'Mochi': '2019'}

In [19]:
# .e Coerce the keys of 2.d into a list
two_e = list(two_d.keys())
print(two_e)

['Kinoko', 'Dango', 'Mochi']

In [20]:
# .f Coerce the values of 2.d into a list
two_f = list(two_d.values())
print(two_f)

['2021', '2019', '2019']

In [21]:
#.g Use the zip function to combine 2.e and 2.f into a dictionary again
two_g = dict(zip(two_e, two_f)) #key, then value
print(two_g)

{'Kinoko': '2021', 'Dango': '2019', 'Mochi': '2019'}

In [23]:
"""
Problem 3: Set combinations

Given the predefined sets below and using set methods
3.a Is set E a subset of set A
 .b Is set E a strict subset of set A
 .c Create a set that is the intersection of set A and set B
 .d Create a set that is the union of sets C, D and E
 .e add 9 to the set
 .f Using == compare this set to the list in one_a
 .g Explain why they are not the same. What would you need to change if you
    wanted this to be True? """

#run this first ************
three_setA = {1,2,3,4,5}
three_setB = {2,3,4,5,6}
three_setC = {3,5,7,9}
three_setD = {2,4,6,8}
three_setE = {1,2,3,4}

In [24]:
#3.a Is set E a subset of set A
three_a = three_setE.issubset(three_setA)
print(three_a)

True

In [25]:
# .b Is set E a strict subset of set A
three_b = three_setA == three_setE
#print(three_b) = False
print ("Because setA does not equal setE, setE is a strict subset of A")

Because setA does not equal setE, setE is a strict subset of A

In [26]:
# .c Create a set that is the intersection of set A and set B
three_c = set(three_setA.intersection(three_setB))
print(three_c)

{2, 3, 4, 5}

In [27]:
# .d Create a set that is the union of sets C, D and E
three_d = set(three_setC.union(three_setD, three_setE))
print(three_d)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [28]:
# .e add 9 to the set
three_e = set(three_d)
three_e.add(9)
print(three_e)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [29]:
# .f Using == compare this set to the list in one_a
three_f = one_a == three_e
print(three_f)

False

In [30]:
# .g Explain why they are not the same. What would you need to change if you wanted this to be True? 
#three_f is missing 0 and is not a list
three_g = list(three_e)
three_g.insert(0,0)
print(three_g == one_a)

True

In [ ]:
"""Problem 4: Changing variable types

For each step you will modify a variable, then append the type of the variable
to a list. Do not recreate the list variable, it should be a running list of 
types.

4.a Create a variable of type int with the value of 8
 .b Create an empty list 
 .c Using type(), add the type of 4.a to this list
 .d Add 0.39 to 4.c
 .e append the type of 0.39 to the list
 .f exponentiate to the -10, ie: 4.d^-10,(hint: there might be an artihmetic operator to do so) round it to no 
    decimal places, and append to list.
 .g append the type to the list"""

In [31]:
#a Create a variable of type int with the value of 8
four_a = int(8)
print(four_a)

8

In [32]:
# .b Create an empty list 
my_list = []
print(my_list)

[]

In [33]:
# .c Using type(), add the type of 4.a to this list
my_list.append(type(four_a))
print(my_list)

[<class 'int'>]

In [34]:
# .d Add 0.39 to 4.c -- was this supposed to be 4.a?? I proceeded as if that were the case
four_d = four_a + 0.39
print(four_d)

8.39

In [35]:
# .e append the type of 0.39 to the list
my_list.append(type(0.39))
print(my_list)

[<class 'int'>, <class 'float'>]

In [36]:
#.f exponentiate to the -10, ie: 4.d^-10,(hint: there might be an artihmetic operator to do so) round it to no 
#    decimal places, and append to list.
four_f = round(8.39 **-10)
print(four_f)

0

In [37]:
#.g append the type to the list
my_list.append(type(four_f))
print(my_list)

[<class 'int'>, <class 'float'>, <class 'int'>]

In [ ]:
"""
Problem 5: More variable type changes

Continue from where you left off in Problem 4.

5.a Manually create a dictionary where the values are items in the list from where we left in 
    problem 4, and the keys should be their index in the list. Print the dictionary.
 .b Add 300 and coerce it into a string
 .c append the type to the list
 .d slice the string up to the 2nd element
 .e append the type to the list
 .f use list comprehension to convert this into a new list of integers
 .g append the type to the list
 .h append the type of three_setA to the list
"""

In [38]:
#5a Manually create a dictionary where the values are items in the list from where we left in problem 4, and the keys should be their index in the list. Print the dictionary.
five_a = {'0': type(four_a), '1':type(four_d), '2':type(four_f)}
print(five_a)

{'0': <class 'int'>, '1': <class 'float'>, '2': <class 'int'>}

In [39]:
# 5.b Add 300 and coerce it into a string
five_b = dict(five_a)
five_b.update({'300':type('300')})
print(five_b)

{'0': <class 'int'>, '1': <class 'float'>, '2': <class 'int'>, '300': <class 'str'>}

In [40]:
#5.c append the type to the list
my_list.append(type('300')) #assuming this refers to the list in problem 4:
print(my_list)

[<class 'int'>, <class 'float'>, <class 'int'>, <class 'str'>]

In [41]:
#5.d splice the string up to the 2nd element
five_d = '300'
five_d = (five_d[0:2])
print(five_d)

30

In [42]:
#.e append the type to the list
my_list.append(type(five_d)) #again, assuming list from problem 4
print(my_list)

[<class 'int'>, <class 'float'>, <class 'int'>, <class 'str'>, <class 'str'>]

In [50]:
#.f use list comprehension to convert this into a new list of integers
five_f = list(five_b.keys())
five_f =[int(i) for i in five_f]
print(five_f)

[0, 1, 2, 300]

In [51]:
#.g append the type to the list
my_list.append(type(five_f))
print(my_list)

[<class 'int'>, <class 'float'>, <class 'int'>, <class 'str'>, <class 'str'>, <class 'list'>]

In [52]:
#.h append the type of three_setA to the list
my_list.append(type(three_setA))
print(my_list)

[<class 'int'>, <class 'float'>, <class 'int'>, <class 'str'>, <class 'str'>, <class 'list'>, <class 'set'>]