# Debugging

## Different types of bugs: syntax, semantic, runtime

In [ ]:
#syntax
print("this doesn't get printed")
print("Hello, World"  # missing closing parenthesis

In [ ]:
#runtime
print('this does get printed')
num = int("hello")  # Attempting to convert a non-numeric string to an int
print(num)

In [ ]:
#semantic
def divide(a, b):
    return a + b  # Should be a / b

result = divide(10, 2)
print(result)

## Reading the stack trace

In [ ]:
#0 division
a = 10
b = 0
result = a / b

In [ ]:
#type error
x = 5
y = '2'
z = x + y

In [ ]:
#name error
print(uninitialized_variable)

In [ ]:
#name error 2
pandas.read_csv('file_name.txt')

In [ ]:
#index error
pokemon = ['charizard', 'bulbasaur', 'squirtle']

for i in range(4):
    print(pokemon[i])

In [ ]:
#key error
my_dict = {'name': 'John', 'age': 30}
print(my_dict['address'])

In [ ]:
#filenotfounderror
with open('nonexistent_file.txt', 'r') as file:
    content = file.read()

In [ ]:
#indentation error
def some_function():
print('Indented incorrectly')

In [ ]:
#indentation error 2
if condition:
    print('Indented with spaces')
	print('Indented with tabs')

In [ ]:
#syntax error
print([x for x in range(10])

In [ ]:
def dummy_function1(x):
    print(1/x)
    
def dummy_function2(y):
    dummy_function1(y+1)
    
dummy_function2(-1)

## Print Statement

### Just Print

In [ ]:
def factorial(n):
    if n < 0:
        return None
    if n == 0:
        return 1
    
    result = 1
    for i in range(1, n):
        result *= i
    
    return result

# Testing the factorial function
num = 5
print(f'Calculating factorial of {num}')
result = factorial(num)
print(f'Factorial of {num} is {result}')

In [ ]:
def factorial(n):
    if n < 0:
        print('Factorial is not defined for negative numbers.')
        return None
    
    if n == 0:
        print('Factorial of 0 is 1 by definition.')
        return 1
    
    result = 1
    for i in range(1, n):
        result *= i
        print(f'Intermediate result after {i} iterations: {result}')
    
    return result

# Testing the factorial function
num = 5
print(f'Calculating factorial of {num}')
result = factorial(num)
print(f'Factorial of {num} is {result}')

In [ ]:
def factorial(n):
    if n < 0:
        print('Factorial is not defined for negative numbers.')
        return None
    
    if n == 0:
        print('Factorial of 0 is 1 by definition.')
        return 1
    
    result = 1
    for i in range(1, n+1):
        result *= i
        print(f'Intermediate result after {i} iterations: {result}')
    
    return result

# Testing the factorial function
num = 5
print(f'Calculating factorial of {num}')
result = factorial(num)
print(f'Factorial of {num} is {result}')

In [ ]:
def fibonacci(n):
    if n < 0:
        print('Fibonacci sequence is not defined for negative indices.')
        return None
    
    if n == 0:
        print('\tF(0) is defined as 0.')
        return 0
    
    if n == 1:
        print('\tF(1) is defined as 1.')
        return 1
    
    print(f'----Calculating F({n})----')
    
    # Recursive calls
    fib_n_minus_1 = fibonacci(n - 1)
    fib_n_minus_2 = fibonacci(n - 2)
    
    result = fib_n_minus_1 + fib_n_minus_2
    print(f'\tF({n}) = F({n - 1}) + F({n - 2}) = {fib_n_minus_1} + {fib_n_minus_2} = {result}')
    
    return result

# Testing the Fibonacci function
num = 5
print(f'Calculating Fibonacci sequence up to {num}th number')
for i in range(num + 1):
    fib_i = fibonacci(i)
    print(f'\tF({i}) = {fib_i}')

### IceCream

In [ ]:
def sum_of_natural_numbers(n):
    print(n)
    total = 0
    for i in range(1, n + 1):
        total += i
        #print(i, total)
        #print(f'i: {i} total: {total}')
    return total

n = 5
result = sum_of_natural_numbers(n)
print(result)

In [ ]:
#!pip install icecream
#!pip install -U executing

In [ ]:
from icecream import install
install()

In [ ]:
def sum_of_natural_numbers(n):
    #ic(n)
    total = 0
    for i in range(1, n + 1):
        total += i
        #ic(i, total)
    return total

In [ ]:
n = 5
result = sum_of_natural_numbers(n)
ic(result)

In [ ]:
ic(sum_of_natural_numbers(4))

In [ ]:
expression = True

def foo():
    ic()
    #do something first

    if expression:
        ic()
        #do something second
    else:
        ic()
        #do something third
        
foo()

In [ ]:
ic(1)

ic.disable()
ic(2)

ic.enable()
ic(3)

## Try, Except

In [ ]:
# Clinical data
patient_weight = 110  #kg
patient_height = 0  #m -> height can't be 0

#general exception
try:
    bmi = patient_weight / (patient_height ** 2)
except:
    print('height cannot be zero')

In [ ]:
#can specify which error gets caught
#won't catch unspecified errors

# Clinical data
patient_weight = '110'  #kg
patient_height = 0  #m -> height can't be 0

try:
    bmi = patient_weight / (patient_height ** 2)
except ZeroDivisionError:
    print('height cannot be zero')

In [ ]:
#syntax error

# Clinical data
patient_weight = '110'  #kg
#patient_weight = 110
patient_height = 0  #m -> height can't be 0

try:
    bmi = patient_weight / (patient_height ** 2)
    print(bmi]
except ZeroDivisionError:
    print('height cannot be zero')
except TypeError:
    print('check your data types!')
except:
    print('some other error occurred')

In [ ]:
# Clinical data
patient_weight = '110'  #kg
#patient_weight = 110
patient_height = 0  #m -> height can't be 0

try:
    print(bmi)
    bmi = patient_weight / (patient_height ** 2)
except ZeroDivisionError:
    print('height cannot be zero')
except TypeError:
    print('check your data types!')
except:
    print('some other error occurred')

In [ ]:
# Clinical data
patient_weight = '110'  #kg
#patient_weight = 110
patient_height = 0  #m -> height can't be 0

try:
    print(bmi)
    bmi = patient_weight / (patient_height ** 2)
except ZeroDivisionError:
    print('height cannot be zero')
except TypeError:
    print('check your data types!')
except Exception as e:
    print('some other error occurred:', e)

In [ ]:
# Clinical data
patient_weight = '110'  #kg
#patient_weight = 110
patient_height = 0  #m -> height can't be 0

try:
    print(bmi)
    bmi = patient_weight / (patient_height ** 2)
except ZeroDivisionError:
    print('height cannot be zero')
except TypeError:
    print('check your data types!')
except Exception as e:
    print('some other error occurred:', e)
finally:
    print('after everything')

In [ ]:
# Clinical data
patient_weight = '110'  #kg
#patient_weight = 110
patient_height = 0  #m -> height can't be 0

try:
    print(bmi)
    bmi = patient_weight / (patient_height ** 2)
except ZeroDivisionError:
    print('height cannot be zero')
except TypeError:
    print('check your data types!')
except Exception as e:
    print('some other error occurred:', e)
else:
    print('no error')
finally:
    print('after everything')

## Assertions

In [ ]:
def calculate_average(numbers):
    # Check if the input list is not empty
    assert len(numbers) > 0, 'Input list should not be empty'
    assert isinstance(numbers, list), 'Input should be a list'
    
    # Calculate the average
    average = sum(numbers) / len(numbers)
    return average

In [ ]:
# Test the function
data = [10, 20, 30, 40, 50]
result = calculate_average(data)
print(f'Average: {result}')

In [ ]:
# Test the function
data = []
result = calculate_average(data)
print(f'Average: {result}')

In [ ]:
# Test the function
data = 'a random string'
result = calculate_average(data)
print(f'Average: {result}')

## Debugger

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

def sum_of_natural_numbers(n):
    if n == 0:
        return 0
    else:
        return n + sum_of_natural_numbers(n - 1)

# Calculate factorial and sum of natural numbers
num = 5
fact_result = factorial(num)
sum_result = sum_of_natural_numbers(num)

print(f"Factorial of {num} is {fact_result}")
print(f"Sum of natural numbers up to {num} is {sum_result}")

In [ ]:
def greet(name):
    return f"Hello, {name}!"

def greet_and_ask_age(name):
    greeting = greet(name)
    return f"{greeting}"

# Call the greet_and_ask_age function
name = "Alice"
result = greet_and_ask_age(name)
print(result)

# Lambda Functions

In [ ]:
add = lambda x, y: x + y

result = add(3, 5)
print(result)

In [ ]:
data = [(1, 3), (2, 1), (4, 2)]

sorted_data = sorted(data)
print(sorted_data)

In [ ]:
def sort_by_first(row):
    return row[1]

data = [(1, 3), (2, 1), (4, 2)]

sorted_data = sorted(data, key=sort_by_first)
print(sorted_data)

In [ ]:
data = [(1, 3), (2, 1), (4, 2)]

sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)

In [ ]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Salary': [50000, 60000, 75000, 40000],
}

df = pd.DataFrame(data)
df['Bonus'] = df['Salary'].apply(lambda x: x * 0.10)

df